body{
	padding-top: 50px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

section{
	padding: 50px 0;
}
nav{
	background-color: #02908b;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

nav > a{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 26px;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	position: absolute;
	left: 25px;
	top: 10px;
}

nav > a > span{
	font-family: 'Open Sans', sans-serif;
	color: #cfc91d;
	text-align: left;
}

nav > ul{
	position: absolute;
	right: 25px;
	top: 5px;
}

nav > ul > li{
	display: inline-block;
	padding: 0 15px;
}

nav > ul > li > a{
	color: #fff;
	text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus{
	color: #cfc91d;
}

header{
	background-attachment: fixed;
	background-image: url(../img/headerbg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 50%;
	color: #fff;
	height: 500px;
	text-align: center;
	padding-top: 15%;
}

header p{
	margin-top: 0;
}

header h1{
	font-size: 72px;
	margin: 0;
	letter-spacing: 20px;
}

header h2{
	font-size: 36px;
	margin: 0;
}

header img{
	padding: 35px 0;
}

header a{
	padding: 10px 35px;
	color: #0b1016;
	background-color: #cdc71d;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

header a:hover{
	background-color: #fff;
	color: #0b1016;
	cursor: pointer;
}

.about{
	text-align: center;
}

.about > h2{
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
	color: #02918c;
}

.about > img{
	margin: 15px 0;
}

.about > p{
	color: #7e8287;
	line-height: 41px;
	width: 70%;
	margin: 0 auto;
}

.about > p > span{
	font-size: 23px;
	font-weight: bold;
}

.aboutBoxes{
	color: #7e8287;
	margin: 0 auto;
	width: 80%;
}

.box{
	float: left;
	width: 16%;
	padding: 0 4%;
	border-right: 1px solid black;
	margin: 3% 0;
}

.box i{
	color: #02918c;
}

.box:last-child{
	border: none;
}

.service{
	background-image: url(../img/service.png);
	background-size: cover;
	padding-left: 10%;
	display: inline-block;
}

.servicewrapper{
	width: 40%;
}

.service h2{
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

.service img{
	margin: 15px 0;
}

.service p{
	color: #7e8287;
	line-height: 41px;
}

.servicebox{
	float: left;
	width: 40%;
	color: #7e8287;
}

.left.servicebox{
	margin-left: 15%;
}

.servicebox i{
	color: #02918c;
}

.servicebox h3{
	margin: 10px 0;
}

.servicebox h6{
	margin: 10px 0;
}

.contact{
	text-align: center;
	padding-bottom: 0;
}

.contact h2{
	color: #02918c;
	font-size: 46px;
	font-weight: bold;
	margin-bottom: 0;
}

.contact img{
	margin: 15px 0;
}

.contact p{
	color: #7e8287;
	line-height: 41px;
	width: 53%;
	margin: 0 auto 5%;
}

.contactform{
	background: #0b0b0b;
	color: #7d8186;
	padding: 50px 25px;
}

.contactform input{
	background: transparent;
	border: none;
	border-bottom: 1px solid #7d8186;
	text-align: center;
	width: 60%;
	height: 30px;
	font-size: 24px;
	color: #7d8186;
}

.contactform textarea{
	background: transparent;
	border: none;
	border-top: 1px solid #7d8186;
	border-bottom: 1px solid #7d8186;
	text-align: center;
	width: 60%;
	font-size: 24px;
	color: #7d8186;
}

.contactform input:focus,
.contactform textarea:focus{
	outline: none;
}

.contactform hr.half{
	margin: 2% 25%;
}

.contactform hr.three-quarters{
	margin: 4% 10%;
}

.contactform button{
	clear: both;
	border: none;
	padding: 10px 35px;
	color: #0b1016;
	background-color: #cdc71d;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.contactform button:hover{
	background-color: #fff;
	cursor: pointer;
	color: #0b1016;
}

footer{
	width: 100%;
	padding: 10px 0;
	background: #000;
}

footer p{
	color: #7e8287;
	text-align: center;
}

@media(max-width: 735px){
	.service{
		background-image: none;
		background-color: #F0F0E8;
	}
}

@media(max-width: 630px){
	nav{
		width: 100%;
		height: 90px;
	}
}

@media(max-width: 600px){
	nav > a{
		display: block;
		padding-bottom: 15px;
		padding-left: 8px;
	}
}

@media(max-width: 600px){
	nav ul{
		font-size: 12px;
		padding-top: 25px;
		padding-left: 20px;
	}
}


@media(max-width: 680px){
	header{
		width: 100%;
	}
}

@media(max-width: 680px){
	header h2{
		font-size: 16px;
	}
}

@media(max-width: 680px){
	header > h1{
		width: 90%;
		letter-spacing: 0px;
		font-size: 48px;

	}
}

@media(max-width: 481px){
	header img{
		padding: 15px 0px;
	}
}

@media(max-width: 350px){
	header p{
		margin-left: 40px;
		margin-top: 20px;
	}
}
@media(max-width: 360px){
	h6{
		font-size: 8.5px;
	}
}

@media(max-width: 360px){
	.servicewrapper > h2, p{
		text-align: center;
		display: center;
		width: 200px;
		margin-left: 10px;
		line-height: 10px;

	}
}

@media(max-width: 360px){
	.servicewrapper > img{
		text-align: center;
		display: center;
		width: 200px;
		margin-left: 15px;
		line-height: 10px;
		margin-top: 40px;

	}
}

@media(max-width: 340px){
	.left.servicebox{
		text-align: center;
		display: center;
		width: 150px;
		float: left;
		margin-left: 40px;
		line-height: 10px;
	}
}

@media(max-width: 340px){
	.servicebox{
		text-align: center;
		width: 150px;
		margin-left: 40px;
		line-height: 10px;
	}
}